.infobox-2 {
  background-color: #f6f1d8;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
}

.ica-index {
  width: 100%;
}

.gas-table {
  border-bottom: 1px solid rgb(50, 48, 48);
}

.gascolor {
  background-color: #f7b476;
  color: white;
}

.infobox {
  background-color: #f6f1d8;
  color: gray;
}

.infocolor {
  background-color: #f6f1d8;
}

.maincolor {
  /*background-color: #3e7cb1;*/
  /*background-color: #826e5a;
  background-color: #DDB892;..*/
  background-color: #DDB892;
}

.redcolor {
  background-color: #f96f5d;
}

.btn-red {
  background-color: #f96f5d;
  border-color: #f96f5d;
  color: white;
}

.tempcolor {
  background-color: #a8c5ff;
}

.input-error {
  border: 2px solid red;
  /* Estilo para resaltar con borde rojo */
}

nav {

  background-color: #B08968;

}

h3 {
  color: #351905;

}

h2 {
  color: #351905;
}